.card.withdraw-card {
    margin: auto;
}
.btn.btn-danger.rejected {
    padding: 8px 20px;
    border-radius: 10px;
}
.copy {
    border: 2px solid #ea2839;
    padding: 3px 5px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 10px;
    cursor: pointer;
    color: #097256;
    position: absolute;
    margin-left: 5px;
}
.margin-auto{
    padding-top: 20px;
    margin: auto;
}

@media (max-width: 767px) {
    .card .card-body .text-end {
        text-align: right !important;
        margin-top: 0 !important;
    }
        .card .card-body form button {
        font-size: 12px;
    }
    .col-7.margin-auto {
    width: 100%;
}
.row{
    margin: auto;
}
.card-body {
    padding: 1.5rem 0rem;
}
}