<div class="col-12 text-center">
  <div
    class="spinner-border text-primary"
    role="status"
    *ngIf="isDisplayed"
  ></div>
</div>
<main id="main" class="main" *ngIf="!isDisplayed">
  <!-- Super Admin Section -->

  <div class="cardsRow mb-4" id="dashboard-tabs">
    <div class="cardCol">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="cardIcon total">
            <i class="bi bi-hand-index-thumb-fill"></i>
          </div>
          <div class="cardInfo">
            <h2>Payment Accept</h2>
          </div>
          <p>
            <select
              class="form-select"
              [(ngModel)]="serviceType"
              name="serviceType"
              (change)="paymentAccept()"
            >
              <option selected disabled value="">Choose...</option>
              <option value="cash out">Cash Out</option>
              <option value="cash in">Cash In</option>
              <option value="both">Both</option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="cardCol">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="cardIcon today">
            <i class="bi bi-toggles"></i>
          </div>
          <div class="cardInfo">
            <h2>{{ "available" | translate }}</h2>
          </div>
          <p style="cursor: pointer">
            <select
              class="form-select"
              [(ngModel)]="statusType"
              name="statusType"
              (change)="changeStatus()"
            >
              <option selected disabled value="">Choose...</option>
              <option value="true">Online</option>
              <option value="false">Offline</option>
            </select>
          </p>
        </div>
      </div>
    </div>
    <div class="cardCol">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="cardIcon monthly">
            <i class="bi bi-person-fill"></i>
          </div>
          <div class="cardInfo">
            <h2>Full Name</h2>
            <h3>{{ listData?.first_name }} {{ listData?.last_name }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="cardCol">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="cardIcon mBlue">
            <i class="bi bi-bank2"></i>
          </div>
          <div class="cardInfo">
            <h2>{{ "balance" | translate }}</h2>
            <h3>{{ listData?.limit }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="cardCol">
      <a routerLink="/admin/deposit">
        <div class="card border-left-success shadow h-90 py-2">
          <div class="card-body">
            <div class="cardIcon mGreen">
              <i class="bi bi-arrow-down"></i>
            </div>
            <div class="cardInfo">
              <h2>PR Deposit</h2>
              <h3>{{ depositCount }}</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="cardCol">
      <a routerLink="/admin/withdrawals">
        <div class="card border-left-success shadow h-90 py-2">
          <div class="card-body">
            <div class="cardIcon mGreen">
              <i class="bi bi-arrow-up"></i>
            </div>
            <div class="cardInfo">
              <h2>PR Withdraw</h2>
              <h3>{{ withdrawalCount }}</h3>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- <div class="col-xl-3 col-md-4 mb-3">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">
                {{ "hold_balance" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-xl-3 col-md-4 mb-3">
      <!-- <a routerLink="/admin/support-tickets"> -->
      <div class="card border-left-info shadow h-90 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">
                {{ "Today Deposit" | translate }}
              </div>
            </div>
          </div>
          <p>
            {{ listData?.transactions?.today_deposit }}
          </p>
        </div>
      </div>
      <!-- </a> -->
    </div>
    <div class="col-xl-3 col-md-4 mb-3">
      <!-- <a routerLink="/admin/support-tickets"> -->
      <div class="card border-left-info shadow h-90 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">
                {{ "Today Withdraw" | translate }}
              </div>
            </div>
          </div>
          <p>
            {{ listData?.transactions?.today_withdraw }}
          </p>
        </div>
      </div>
      <!-- </a> -->
    </div>
    <div class="col-xl-3 col-md-4 mb-3">
      <!-- <a routerLink="/admin/support-tickets"> -->
      <div class="card border-left-info shadow h-90 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">
                {{ "Monthly Deposit" | translate }}
              </div>
            </div>
          </div>
          <p>
            {{ listData?.transactions?.monthly_deposit }}
          </p>
        </div>
      </div>
      <!-- </a> -->
    </div>
    <div class="col-xl-3 col-md-4 mb-3">
      <!-- <a routerLink="/admin/support-tickets"> -->
      <div class="card border-left-info shadow h-90 py-2">
        <div class="card-body">
          <div class="row no-gutters align-items-center">
            <div class="col mr-2">
              <div class="text-xs font-weight-bold text-uppercase mb-1">
                {{ "Monthly Withdraw" | translate }}
              </div>
            </div>
          </div>
          <p>
            {{ listData?.transactions?.today_withdraw }}
          </p>
        </div>
      </div>
      <!-- </a> -->
    </div>
    <div class="cardCol">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="cardIcon monthly">
            <i class="bi bi-list-stars"></i>
          </div>
          <div class="cardInfo">
            <h2>Service Type</h2>
            <h3>{{ formatLabel(listData?.type_of_modem) }}</h3>
          </div>
        </div>
      </div>
    </div>

    <div class="cardCol">
      <div class="card border-left-primary shadow h-90 py-2">
        <div class="card-body">
          <div class="cardIcon total">
            <i class="bi bi-toggle-on"></i>
          </div>
          <div class="cardInfo">
            <h2>{{ "login" | translate }}</h2>
            <h3>{{ "Active" }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
