<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul id="sidebar-nav" class="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/dashboard"
        title="{{ 'dashboard' | translate }}"
        (click)="closeSidebar()"
        ><i class="bi bi-grid"></i><span>{{ "dashboard" | translate }}</span></a
      >
    </li>
    <!-- <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/admin/b2b-payments"
        title="{{ 'B2B Payments' | translate }}"
        (click)="closeSidebar()"
        ><i class="fa fa-money" aria-hidden="true"></i>
        <span>{{ "B2B Payments" | translate }}</span></a
      >
    </li> -->
    <li class="nav-item">
      <a
        data-bs-toggle="collapse"
        href="#"
        title="Pending Request"
        class="nav-link collapsed"
        data-bs-target="#pending-nav"
        routerLinkActive="active"
        [ngClass]="menuName == 'Pending Request' ? '' : 'removeCollapsed'"
        (click)="menuCollapsed('Pending Request')"
        ><i class="bi bi-layers-fill"></i><span>Pending Request</span>

        <i class="bi bi-chevron-down ms-auto"></i
      ></a>
      <ul
        class="nav-content collapse"
        id="pending-nav"
        data-bs-parent="#pending-nav"
        [ngClass]="menuName == 'Pending Request' ? 'show' : ''"
      >
        <li>
          <a
            routerLink="/admin/deposit"
            routerLinkActive="active"
            (click)="closeSidebar()"
            ><i class="bi bi-circle"></i
            ><span>{{ "deposits" | translate }}</span>
          </a>
        </li>
        <li>
          <a
            routerLink="/admin/withdrawals"
            routerLinkActive="active"
            (click)="closeSidebar()"
            ><i class="bi bi-circle"></i
            ><span>{{ "withdrawals" | translate }}</span>
          </a>
        </li>

        <li></li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        data-bs-toggle="collapse"
        href="#"
        title="{{ 'transactions' | translate }}"
        class="nav-link collapsed"
        data-bs-target="#transaction-nav"
        [ngClass]="menuName == 'Transactions' ? '' : 'removeCollapsed'"
        (click)="menuCollapsed('Transactions')"
        ><i class="fa fa-exchange"></i
        ><span>{{ "transactions" | translate }}</span
        ><i class="bi bi-chevron-down ms-auto"></i
      ></a>
      <ul
        class="nav-content collapse"
        id="transaction-nav"
        data-bs-parent="#transaction-nav"
        [ngClass]="menuName == 'Transactions' ? 'show' : ''"
      >
        <li>
          <a
            routerLink="/admin/transactions/deposits"
            routerLinkActive="active"
            (click)="closeSidebar()"
            ><i class="bi bi-circle"></i
            ><span>{{ "deposits" | translate }}</span></a
          >
        </li>
        <li>
          <a
            routerLink="/admin/transactions/withdrawals"
            routerLinkActive="active"
            (click)="closeSidebar()"
            ><i class="bi bi-circle"></i
            ><span>{{ "withdrawals" | translate }}</span></a
          >
        </li>
      </ul>
    </li>
  </ul>
</aside>
<!-- End Sidebar -->
