
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}



:root {
  --primary-color: #ff6400;
  --black-color: #000;
  --white-color-bg: #fff;
  --white-color-txt: #fff;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: auto;
  padding: 0 15px;
}

body ul {
  padding: 0;
  list-style: none;
}

body a {
  text-decoration: none;
  color: var(--black-color);
}

body h2 {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: -0.03em;
  line-height: 1.3;
  margin: 0;
  margin-bottom: 20px;
}
.action-icons .bi.bi-key {color: #ff8300;}
body h4 {
  font-size: 24px;
  letter-spacing: -0.03em;
  line-height: 1.3;
  margin: 0;
  font-weight: 400;
  margin-bottom: 20px;
}

body p {
  line-height: 1.6;
}

body img {
  width: 100%;
}

body i::before {
  content: "";
  font-family: "FontAwesome";
}

.main-bg {
  background-color: #f7f9fb;
}

.title {
  color: #00a9a4;
}

.main-bg-blue {
  background-color: var(--primary-color);
  color: var(--white-color-txt);
}

.divider {
  height: 1px;
  width: 40px;
  margin: auto;
  background: var(--primary-color);
  margin-bottom: 20px;
}

.divider-white {
  height: 1px;
  width: 40px;
  background: var(--white-color-bg);
  margin-bottom: 20px;
}

.page-section {
  padding: 60px 0;
}

/* Header css start */

.mobile-nav {
  display: none;
}

.sticky-header {
  padding: 20px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.header-contact a {
  font-weight: 700;
  font-size: 18px;
}

.nav-logo h5 {
  font-size: 20px;
  font-weight: 600;
  background: var(--primary-color);
  color: var(--white-color-txt);
  padding: 7px 15px;
  border-radius: 30px 25px 15px 20px;
}

.top-header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-social ul {
  display: flex;
  gap: 24px;
}

.top-header {
  height: 45px;
  border-bottom: 1px solid rgba(229, 231, 242, 0.85);
  background: var(--white-color-bg);
  padding: 11px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-menu ul {
  display: flex;
  gap: 30px;
  align-items: center;
}

.navbar {
  height: 70px;
  background: var(--white-color-bg);
  padding: 11px 0;
}

.header-social i {
  color: var(--primary-color);
}

.sign-up a {
  padding: 14px 25px;
  background: var(--primary-color);
  color: var(--white-color-txt);
  border-radius: 4px;
  display: inline-block;
}

.home-banner {
  background-image: url(/assets/home//images/home-bg.jpg);
  padding: 150px 0;
}

.banner-contents {
  color: #fff;

  max-width: 780px;
}

.banner-contents h1 {
  letter-spacing: -0.03em;
  line-height: 1.3;
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 10px;
}

.banner-contents p {
  line-height: 1.6;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  font-size: 18px;
}

.get-started input {
  width: 220px;
  opacity: 1;
  position: relative;
  z-index: 1;
  padding: 8px 12px;
  left: 1px;
  height: 52px;
  margin: 0px 0px 0px 0px;
  border: 2px solid #fff;
  display: inline-block;
  top: 0;
  border-radius: 4px;
  background: none;
  font-weight: 600;
}

.get-started input::placeholder {
  color: #fff;
  font-weight: 600;
}

.get-started button {
  margin: 0 0px;
  padding: 0px 26px;
  position: relative;
  font-weight: bold;
  color: #fff;
  background: var(--primary-color);
  border: 2px solid var(--primary-color);
  height: 52px;
  border-radius: 4px;
  margin-left: 8px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}


/* Header css end */

.smart-payments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  text-align: center;
}

.smart-payment-img img {
  width: 70px;
}

.smart-payment h2 {
  font-weight: 400;
}

.smart-payment-img {
  margin-bottom: 20px;
}

.section-heading {
  text-align: center;
  max-width: 700px;
  margin: auto;
  margin-bottom: 60px;
}

.smart-payment.growth-business {
  padding-top: 0;
}

.smart-payment {
  padding-top: 100px;
}

.payment-options-head {
  text-align: center;
}

.payment-options-content {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.payment-options-img img {
  width: 100%;
  height: auto;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .07);
  border-radius: 4px;
}

.payment-options-services {
  width: 100%;
  max-width: 424px;
}

.payment-options-service {
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .07);
  margin-bottom: 20px;
  position: relative;
}

.payment-options-service.active {
  background: var(--primary-color);
  color: var(--white-color-txt);
}

.payment-options-service.active::after {
  content: '';
  height: 20px;
  width: 20px;
  background: var(--primary-color);
  position: absolute;
  transform: rotate(45deg);
  top: 50%;
  left: -10px;
  translate: 0 -10px;
}

.payment-options-service h4 {
  margin-bottom: 10px;
}

.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.service {
  padding: 30px;
  box-shadow: 0 0 15px 0 #ddd;
  border-radius: 4px;
  background: #fff;
}

.service-img img {
  width: 70px;
}

.service h3 {
  margin: 20px 0;
}

.view-more a {
  background: #ff6400;
  color: #fff;
  padding: 5px 18px;
  display: inline-block;
  border-radius: 4px;
}

.view-more {
  margin-top: 20px;
}

.our-services-head {
  text-align: center;
  margin-bottom: 60px;
}

.easy-checkout {
  display: flex;
  gap: 30px;
  align-items: center;
}

.easy-checkout-content li {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 37px;
}

.easy-checkout-content p {
  margin-bottom: 20px;
}

.easy-checkout-content li i {
  font-size: 20px;
}

.easy-checkout-img {
  width: 50%;
}

.easy-checkout-content {
  width: 50%;
}

.digital-commerce-content {
  text-align: center;
  max-width: 590px;
  margin: auto;
}

.digital-commerce-logos {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
}

.blue-btn a {
  min-width: 170px;
  font-weight: 700;
  color: var(--white-color-txt);
  background-color: var(--primary-color);
  padding: 16px 25px;
  margin: auto;
  display: table;
  box-sizing: border-box;
  line-height: 1;
  text-align: center;
  border-radius: 4px;
}

.manage {
  background-image: url(./images/Payment-Gateway.png);
  background-size: cover;
  background-position: 0px -1px;
}

.manage-everything h2 {
  max-width: 400px;
  margin-bottom: 60px;
}

.manage-img img {
  width: 60px;
}

.manage-all {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.manage-everything-content {
  max-width: 600px;
}

.manage-everything {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.manage-everything-img {
  position: relative;
}

.manage-everything-img .bg-img {
  position: absolute;
  height: 500px;
  object-fit: contain;
}

.manage-everything-img .top-img {
  height: 500px;
  object-fit: contain;
}

.our-qna-head {
  text-align: center;
}

.our-qna {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 60px;
}

.our-qna-service {
  padding: 30px;
  background-color: var(--primary-color);
  color: var(--white-color-txt);
  border-radius: 4px;
}

.our-qna-service i {
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 20px;
  display: inline-block;
}

.compliance {
  display: flex;
  gap: 30px;
  align-items: center;
}

.compliance-img {
  width: 50%;
}

.compliance-content {
  width: 50%;
  padding-left: 80px;
}

.compliance-content .divider {
  margin-left: 0;
}



footer {
  background: #252525;
  color: #fff;
  padding: 60px 0;
  padding-bottom: 0;
}

footer a {
  color: #fff;
  font-size: 14px;
}

.footer-menu li {
  line-height: 30px;
}

.nav-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-menu h2 {
  font-size: 16px;
  margin-bottom: 15px;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
}

.footer-social {
  margin-top: 30px;
}

.footer-content p {
  font-size: 14px;
}

.footer-social i {
  font-size: 30px;
}

.footer-social h2 {
  font-size: 16px;
}

.footer-bottom {
  background: #1F1F1F;
  padding: 25px 0;
  margin-top: 60px;
}

.footer-bottom-content {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

@media (max-width:920px) {
  .smart-payments {
    grid-template-columns: 1fr 1fr;
  }

  .our-qna {
    grid-template-columns: 1fr 1fr;
    gap: 20px;

  }

  .smart-payment {
    padding-top: 0;
  }

  .services {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width:768px) {
  body h2 {
    font-size: 24px;
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
  }

  .page-section {
    padding: 30px 0;
  }

  .smart-payments {
    grid-template-columns: 1fr;
  }

  .services {
    grid-template-columns: 1fr;
  }

  .manage-everything-img .bg-img {
    height: 300px;
  }

  .manage-everything-img .top-img {
    height: 300px;
  }

  .manage-everything {

    grid-template-columns: 1fr;
    gap: 30px;
  }

  .service {
    text-align: center;
  }

  .manage-everything h2 {
    margin-bottom: 30px;
    text-align: center;
  }

  .our-services-head {

    margin-bottom: 30px;
  }

  .easy-checkout-content h2 {
    margin-left: 0;
  }

  .top-header {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .mobile-nav {
    display: block;
    padding: 0 15px;
    font-size: 24px;
    color: var(--primary-color);

  }

  .nav-menu.show {
    display: block;
    position: fixed;
    background: #00000061;
    width: 100%;
    height: 100vh;
    top: 60px;
    left: 0;
  }

  .mobile-nav .fa-xmark {
    display: none;
  }

  .mobile-nav .fa-bars.hide {
    display: none;
  }

  .mobile-nav .fa-xmark.show {
    display: inherit;
  }

  .nav-menu.show ul {
    background: #fff;
    height: auto;
    gap: 10px;
    padding: 20px;
  }

  header {
    position: relative;
    z-index: 999;
  }

  .nav-menu ul {
    flex-direction: column;
  }

  .navbar {
    height: 60px;
  }

  .nav-logo h5 {
    font-size: 16px;
  }

  .home-banner {
    padding: 40px 0;
  }

  .banner-contents h1 {
    font-size: 26px;
  }

  .banner-contents p {
    font-size: 16px;
  }

  .benifit-of-ssl-services {
    grid-template-columns: 1fr;
  }

  .payment-options-content {
    margin-top: 30px;
    flex-direction: column;
  }

  .payment-options-service.active::after {
    visibility: hidden;
  }

  .easy-checkout-content li i {
    font-size: 15px;
  }

  .easy-checkout-content li {
    gap: 15px;
  }

  .easy-checkout {
    flex-direction: column;
  }

  .easy-checkout-img {
    width: 100%;
  }

  .easy-checkout-content {
    width: 100%;
  }

  .client-review {
    max-height: initial;
    position: inherit;
    top: auto;
    transform: translate(0);
    padding: 20px;
    margin-top: 20px;
  }

  .our-qna {
    grid-template-columns: 1fr;
  }

  .compliance {
    flex-direction: column;
  }

  .compliance-img {
    width: 100%;
  }

  .compliance-content {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .compliance-content .divider {
    margin-left: auto;
  }

  .about-pymnt-gateway-content {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .gateway-content {
    text-align: center;
  }

  .nav-footer {

    grid-template-columns: 1fr;
    gap: 30px;
  }

  .footer-social ul {

    justify-content: flex-start;
    gap: 15px;
  }

  .footer-social i {
    font-size: 20px;
  }

  .footer-bottom {

    padding: 15px 0;
    margin-top: 30px;
  }

  .footer-menu h2 {
    margin-left: 0;
  }

  .footer-social h2 {
    margin-left: 0;
  }
}