<main id="main" class="main">
  <div class="pagetitle_wrap">
    <div class="pagetitle">
      <h1>{{ "withdrawals" | translate }}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">{{ "transactions" | translate }}</li>
          <li class="breadcrumb-item active">
            {{ "withdrawals" | translate }}
          </li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- End Page Title -->
  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <!-- <div class="row">
							<div class="col-md-6 mb-4 text-start">
								<app-payments-search [itemsPerPage]="itemsPerPage" [pageNumber]="pageNumber"
									(paymentSearchData)="search($event)"></app-payments-search>
							</div>
						</div> -->
            <div class="row">
              <div class="col-md-12 mb-4 text-start">
                <app-withdrawals-transactions-search
                  [itemsPerPage]="itemsPerPage"
                  [pageNumber]="pageNumber"
                  (withdrawalSearchData)="search($event)"
                  (fileDownload)="downloadDocument($event)"
                  [isFileDownload]="isFileDownload"
                ></app-withdrawals-transactions-search>
              </div>
            </div>
            <div class="table-scroll">
              <table
                class="table table-striped table-bordered"
                id="dash-all-transactions"
              >
                <thead>
                  <th>#</th>

                  <th>TrxID</th>
                  <th>{{ "customer_no" | translate }}</th>

                  <th>{{ "date" | translate }}</th>
                  <!-- <th>{{ "duration" | translate }}</th> -->
                  <th>{{ "processing_time" | translate }}</th>

                  <th>{{ "amount" | translate }}</th>
                  <th>{{ "status" | translate }}</th>
                  <th>Action</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="
                      let item of displayedData
                        | paginate
                          : {
                              itemsPerPage: itemsPerPage,
                              currentPage: pageNumber,
                              totalItems: totalRows
                            };
                      let i = index
                    "
                  >
                    <td>{{ i + 1 }}</td>

                    <td>{{ item?.transaction_id }}</td>
                    <td>{{ item?.cust_phone }}</td>
                    <td>
                      {{ item.approved_time | timezoneDate }}
                    </td>
                    <!-- <td>
                      {{
                        item.created_at | dateDurationTwo : item.process_time
                      }}
                    </td> -->
                    <td>
                      {{ item.process_time | timezoneDate }}
                    </td>

                    <td><span>+</span>{{ item.amount | appNumberFormat }}</td>
                    <td *ngIf="item.status == 'Rejected'">
                      <span class="badge bg-danger">{{
                        "rejected" | translate
                      }}</span>
                    </td>
                    <td *ngIf="item.status == 'Approved'">
                      <span class="badge bg-success">{{
                        "approved" | translate
                      }}</span>
                    </td>
                    <!-- <td *ngIf="item.status == 'pending'">
                      <span class="badge bg-warning">{{
                        "pending" | translate
                      }}</span>
                    </td> -->
                    <td>
                      <a class="custom-icons">
                        <i
                          class="fa fa-eye"
                          aria-hidden="true"
                          (click)="showData(mymodal, item)"
                        ></i>
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="totalBlance && getLastPageNumber() == pageNumber">
                    <th colspan="5">{{ "total" | translate }}</th>
                    <!-- <th><span>-</span>{{ totalCommission }}</th> -->
                    <th><span>+</span>{{ totalBlance | appNumberFormat }}</th>
                    <!-- <th>&nbsp;</th>
                    <th>&nbsp;</th> -->
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-center col-md-12">
              <div
                class="spinner-border text-primary text-center"
                role="status"
                *ngIf="isDisplayed"
              ></div>
            </div>
            <div
              class="text-center recordnotfound"
              *ngIf="displayedData.length == 0"
            >
              Record not found
            </div>
            <div class="text-end pt-4">
              <pagination-controls
                (pageChange)="onPageChange($event)"
              ></pagination-controls>
            </div>
            <!-- End Table with stripped rows -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-template #mymodal let-modal>
    <div class="modal-header">
      <div
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">×</span>
      </div>
    </div>
    <div class="modal-body">
      <table
        class="table table-striped table-bordered"
        id="dash-all-transactions"
      >
        <tbody>
          <tr>
            <td>{{ "unique_id" | translate }}</td>
            <td>
              {{ showingData?.merchant_unique_id }}
            </td>
          </tr>
          <tr>
            <td>{{ "service_type" | translate }}</td>
            <td>
              {{ formatLabel(showingData?.service_type) }}
            </td>
          </tr>
          <tr>
            <td>{{ "request_type" | translate }}</td>
            <td>
              {{ showingData?.request_type }}
            </td>
          </tr>
          <tr>
            <td>{{ "amount" | translate }}</td>
            <td>-{{ showingData?.amount | appNumberFormat }}</td>
          </tr>

          <tr>
            <td>{{ "Approved BY" | translate }}</td>
            <td>
              {{ showingData?.approved_by }}
            </td>
          </tr>
          <tr>
            <td>{{ "Payment Mode" | translate }}</td>
            <td>
              {{ showingData?.payment_mode }}
            </td>
          </tr>
          <!-- <tr>
            <td>{{ "amount" | translate }}</td>
            <td>
              {{ showingData?.amount }}
            </td>
          </tr> -->
          <tr>
            <td>{{ "bank_no" | translate }}</td>
            <td>
              {{ showingData?.modem_number }}
            </td>
          </tr>
          <!-- <tr>
						<td>{{ 'fee_amount' | translate }}</td>
						<td>
							{{ showingData?.commission_fee || '00.0' }}
						</td>
					</tr> -->

          <tr>
            <td>{{ "status" | translate }}</td>
            <td>
              <span
                class="badge bg-danger"
                *ngIf="showingData?.status === 'rejected'"
              >
                {{ "rejected" | translate }}</span
              >
              <span
                class="badge bg-success text-dark"
                *ngIf="showingData?.status === 'approved'"
                >{{ "approved" | translate }}</span
              >
              <span
                class="badge bg-warning text-dark"
                *ngIf="showingData?.status === 'pending'"
                >{{ "pending" | translate }}</span
              >
            </td>
          </tr>
          <tr>
            <td>TrxID</td>
            <td>{{ showingData.transaction_id }}</td>
          </tr>
          <tr>
            <td>{{ "create_time" | translate }}</td>
            <td>
              {{ showingData.created_at | timezoneDate }}
            </td>
          </tr>
          <tr>
            <td>{{ "duration" | translate }}</td>
            <td>
              {{
                showingData.created_at
                  | dateDurationTwo : showingData.process_time
              }}
            </td>
          </tr>
          <tr>
            <td>{{ "processing_time" | translate }}</td>
            <td>
              {{ showingData.process_time | timezoneDate }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-template>
</main>
